html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;;
    font-size: 13px;
    background-color: #F5F5F5;
}

.container {
    width: 375px;
    margin: 0 auto;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #C6C6C6;
}

.logo-img {
    width: 130px;
}

.avatar-img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.user-info .avatar-img {
    float: left;
    margin: 0 10px 0 10px;  
}

.user-name {
    font-weight: bold;
    margin-bottom: 0;
}

.user-location {
    margin-top: 0;
    font-size: 12px;
}


.post-img {
    width: 100%;
}

.reactions {
    padding: 15px 10px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;

}

.likes-count {
    font-weight: bold;
    margin-top: 0;
}

.username-caption span {
    font-weight: bold;
}